<header>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #311b92 deep-purple darken-4">
      <a href="/" class="brand-logo">LAIR</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/sheets">Sheets</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href='/logout'>Log Out</a></li>
       </ul>
     </div>
   </nav>
</header>
