



<h1>New Character Sheet</h1>
<div class="container">
  <form method="POST" action="/sheets">
  <div class="row">
    <div class="col s5 white-text">
      <div>
        <label for="charName">Character Name</label>
        <input type="text" name="charName" id="charName">
      </div>

      <div>
        <label for="charClass">Class</label>
        <input type="text" name="charClass" id="charClass">
      </div>
        <div>
            <label for="charRace">Race</label>
            <input type="text" name="charRace" id="charRace">
        </div>
        <div>
          <label for="charLevel">Level</label>
          <input type="Number" name="charLevel" id="charLevel">
        </div>
        <div>
          <label for="charExp">Experience</label>
          <input type="Number" name="charExp" id="charExp">
        </div>
        <div>
          <label for="charMaxHp">Max HP</label>
          <input type="Number" name="charMaxHp" id="charMaxHp">
        </div>

    </div>


    <div class="col s1 push-s1 white-text">
          <div>
            <label for="charStr">Strength</label>
            <input type="Number" name="charStr" id="charStr">
          </div>
          <div>
            <label for="charDex">Dexterity</label>
            <input type="Number" name="charDex" id="charDex">
          </div>
          <div>
            <label for="charCon">Constitution</label>
            <input type="Number" name="charCon" id="charCon">
          </div>
          <div>
            <label for="charInt">Intelligence</label>
            <input type="Number" name="charInt" id="charInt">
          </div>
          <div>
            <label for="charWis">Wisdom</label>
            <input type="Number" name="charWis" id="charWis">
          </div>
          <div>
            <label for="charCha">Charisma</label>
            <input type="Number" name="charCha" id="charCha">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s7 white-text">
      <div>
        <label for="charSkills">Skills</label>
        <textarea name="charSkills"></textarea>
      </div>
      <div>
        <label for="charTraits">Traits</label>
        <textarea name="charTraits"></textarea>
      </div>
      <div>
        <label for="charEquip">Equipment</label>
        <textarea name="charEquip"></textarea>
      </div>
      <div>
        <label for="charSpells">Spells</label>
        <textarea name="charSpells"></textarea>
      </div>
      <div>
        <label for="charBio">Bio</label>
        <textarea name="charBio"></textarea>
      </div>
    </div>
    </div>
    <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Create</button>
