<main>
<h1>Dungeons And Dragons</h1>
</main>
<%# <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
</ul>%>
