
<div class="container">
<h1>New Character Sheet</h1>
<form method="POST" action="/sheets">
  <div>
    <label for="charName">Character Name</label>
    <input type="text" name="charName" id="charName">
  </div>

  <div>
    <label for="charClass">Class</label>
    <input type="text" name="charClass" id="charClass">
  </div>
    <div>
      <label for="charRace">Race</label>
      <input type="text" name="charRace" id="charRace">
    </div>
  <div>
    <label for="charLevel">Level</label>
    <input type="Number" name="charLevel" id="charLevel">
  </div>
  <div>
    <label for="charSkills">Skills</label>
    <textarea name="charSkills"></textarea>
  </div>
  <div>
    <label for="charTraits">Traits</label>
    <textarea name="charTraits"></textarea>
  </div>
  <div>
    <label for="charEquip">Equipment</label>
    <textarea name="charEquip"></textarea>
  </div>
  <a class="waves-effect waves-light btn">Create</a>
</form>
</div>
