// @import "variables";
//
// body {
//   background: $body-background-color;
//   font-family: Helvetica,Arial,sans-serif;
//   font-size: 14px;
//   color: white;
// }
.bigbox {
  margin: 30px;
}

.loginbox {
  margin: 30px;
}

body {
    background-image: url("/images/stonefloor.jpg");
    background-position: -100px -100px;
    background-color: white;
}

.card {
  opacity: 0.7;

}
.tabs {
  opacity: 0.7;
}

.container {
  margin-bottom: 30px;
}
